

<body>

<!-- Header Section -->
<section class="tophead" role="tophead"> 
  <!-- Navigation Section -->
  <header id="header">
    <div class="header-content clearfix"> <a class="logo" href="#"><%= @content.title %></a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a href="#header-slider">Home</a></li>
          <li><a href="#services">Our Services</a></li>
          <li><a href="#contents">Contents</a></li>
          <li><a href="#contents">Event</a></li>
          <li><a href="#contact">Contact</a></li>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>
  <!-- Navigation Section --> 
</section>
<!-- Header Section -->
<!-- work details section -->
<section id="work-detail" class="section work-detail">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 work-detail-margin detail-image">
        <div class="work-image">
          <p> <%= image_tag "#{@Rcontent.image}" %></p>
        </div>
      </div>
      <div class="col-md-4 work-detail-margin detail-contentbox">
        <div class="detail-content">
          <h4><%= @content.title %></h4>
          <p><%= @content.body %></p>
          </div>
      </div>
    </div>
  </div>
</section>
<!-- work details section --> 


<!-- footer section -->
<footer id="contact" class="footer">
  <div class="container-fluid">
    <div class="col-md-2 left">
      <h4>Contact</h4>
      <p>
        Email : <a href="satouchan.goose@gmail.com"> satouchan.goose@gmail.com</a></p>
    </div>
    <div class="col-md-2 left">
      <h4>Social presense</h4>
      <ul class="footer-share">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
    <div class="col-md-6 right">
      <p>© 2016 All rights reserved. All Rights Reserved<br>
        Made with <i class="fa fa-heart pulse"></i> by <a href="http://www.designstub.com/">Designstub</a></p>
    </div>
  </div>
</footer>
<!-- footer section --> 

<!-- JS FILES --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.flexslider-min.js"></script> 
<script src="js/retina.min.js"></script> 
<script src="js/modernizr.js"></script> 
<script src="js/main.js"></script>
</body>
</html>